/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q  &kp W  &kp E             &kp R         &kp T        &kp Y      &kp U  &kp I         &kp O    &kp P     &kp BSPC
&kp ESCAPE  &kp A  &kp S  &kp D             &kp F         &kp G        &kp H      &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&kp LSHFT   &kp Z  &kp X  &kp C             &kp V         &kp B        &kp N      &kp M  &kp COMMA     &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                          &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE    &kp ENTER  &mo 1  &kp LEFT_WIN
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE   &kp N1          &kp N2            &kp N3                &kp N4                 &kp N5       &kp N6     &kp N7     &kp N8        &kp N9     &kp N0         &kp BSPC
&kp ESCAPE  &kp LEFT_BRACE  &kp RIGHT_BRACE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &tog 3       &kp LEFT   &kp DOWN   &kp UP        &kp RIGHT  &kp BACKSLASH  &kp PIPE
&kp LSHFT   &kp LESS_THAN   &kp GREATER_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &tog 4       &kp UNDER  &kp MINUS  &kp EQUAL     &kp PLUS   &trans         &kp RIGHT_SHIFT
                                              &kp LEFT_CONTROL      &mo 2                  &kp SPACE    &kp ENTER  &trans     &kp LEFT_WIN
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TILDE   &kp EXCL  &kp AT  &kp HASH          &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS    &kp ASTRK     &kp LPAR       &kp RPAR  &kp BSPC
&kp ESCAPE  &trans    &trans  &trans            &trans    &trans       &trans     &kp INSERT  &kp HOME      &kp PAGE_UP    &trans    &trans
&kp LSHFT   &trans    &trans  &trans            &trans    &trans       &trans     &kp DELETE  &kp END       &kp PAGE_DOWN  &trans    &kp RSHIFT
                              &kp LEFT_CONTROL  &trans    &kp SPACE    &kp ENTER  &trans      &kp LEFT_WIN
            >;
        };

        calc_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp KP_EQUAL   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_DIVIDE  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS   &kp KP_PLUS
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_DOT     &kp KP_ENTER
                        &trans  &trans  &trans    &kp BACKSPACE  &trans        &kp NUMBER_0
            >;
        };

        function_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
